footer
  small.text-white.text-center.w900 © Copyright 2015 - <script>document.write(new Date().getFullYear());</script>  | 濡沫 Lez is more | All Rights Reserved


// js-lib
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js', crossorigin="anonymous")