// meta
meta(charset="UTF-8")
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='robots', content='noindex')
title 濡沫 Lez is more

//fb share
meta(property='og:url', content='https://lezismore.org/')
meta(property='og:image', content='')
meta(property='og:title', content='濡沫 Lez is more')
meta(property='og:description', content='')
meta(property='og:type', content='website')


link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:500,700,900&display=swap")

// lib

//css
link(rel='stylesheet', href='stylesheets/style.css')

// favicon
link(rel="shortcut icon", href="images/favicon.ico", crossorigin="anonymous")